@import url("https://fonts.googleapis.com/css?family=Allura|Josefin+Sans");

header{
     font-family: "Playwrite AU VIC", cursive;
}
a {
  color: #00ff15;
  text-decoration: none;
  background-color: transparent;
  justify-content: center;
}
.logo {
  width: 30%;
}

.about {
   background-image: url("../img/AboutUs.jpg");
   background-position: center;
  background-size: cover;
    font-family: "Playwrite AU VIC", cursive;
    padding-bottom: 100px;
}
.our-story , .our-vision {
    font-size: 25px;
    padding: 60px 20px;
}

.our-team {
  margin-top: 100px;
}

.our-team h1 {
  font-family: "Allura", cursive;
  font-size: 90px;
  margin: 80px;
   text-align: center;
}

.team {

  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;

}

.team .team_member {
  background: #D7CCC3;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 25px;
  border-radius: 6px;
  color: #fff;
  position: relative;
}

.team .team_member a {
  color: #fff;
  font-size: 66px;
  margin-top: 50px;
  justify-content: center;
}
.team  h3 {
        font-size: 1.25rem;
    }
.team .team_member p.role {
  color: black;
  margin: 12px 0;
  font-size: 12px;
  line-height: 20px;
 text-align: center;
  text-transform: uppercase;
}

.team .team_member .team_img {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 75%;
  background: #fff;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 75%;
}

/*Footer*/
footer {
  font-family: "Playwrite AU VIC", cursive;
  width: 100%;
  padding-top: 50px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #343a40;
  color: white;
  text-align: center;
}


.contacts h1 {
  padding-top: 40px;
  line-height: 1.5;
}
.social-contacts a i {

  font-size: 45px;
}
