/* body */
body {
  background-color: #f8f9fa;
}

/* Header */
.logo {
  width: 200px;
}

.align-right {
  justify-content: flex-end;
}

/* Links */
a {
  text-decoration: none;
  color: #00D363;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.search-container input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 10px;
}

h1 {
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
}

h2 {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nutrition-report-display {
    display: none;
}

.pie-chart-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

#nutritionPieChart {
  margin: 10px auto;
  display: block;
}

.food-name,
.calorie-amount {
  color: red;
}

/* Back to top button */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #0089ff; /* Add a background color on hover */
}

/*Footer*/
footer {
    font-family: "Playwrite AU VIC", cursive;
  width: 100%;
  padding-top: 50px;
  margin-top: 50px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #343a40;
  color: white;
  text-align: center;
}

.contacts {
  padding-left: 250px;
}
.contacts h1 {
     font-size: 45px;
  padding-top: 30px;
  line-height: 1.5;
}
.social-contacts a i {

  font-size: 45px;
}

/* Responsive CSS */

@media (max-width: 992px) {
  .custom-main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  h1,
  h3 {
    font-size: 30px;
    margin: 20px;
  }

  p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .align-right {
    justify-content: flex-start;
  }

  .contacts {
    padding: 0;
  }

  h1,
  h3 {
    font-size: 24px;
    margin: 20px;
  }

  p {
    font-size: 18px;
  }

  .our-products {
    margin: 50px;
    padding: 20px;
  }

  footer {
    padding: 10px;
    font-size: 12px;
  }

  .contacts h1 {
    font-size: 20px;
    line-height: 1.2;
  }

  .social-contacts a i {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 120px;
  }

  .contacts {
    padding-left: 20px;
  }

  .projects {
    margin: 50px;
  }

  .our-products {
    margin: 30px;
    padding: 15px;
    font-size: 20px;
  }

  .view-work-button {
    margin-top: 50px;
    font-size: 18px;
  }

  .custom-main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
