/* body */
body {
  background-color: #f8f9fa;
}

/* Header */
.logo {
  width: 200px;
}

.align-right {
  justify-content: flex-end;
}

/* Links */
a {
  text-decoration: none;
  color: #00D363;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

#search-form input,
#meal-name,
#food-items {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  width: 80%;
  margin: 10px;
}
.search-container {
    margin: 30px auto 60px auto;
}
h1 {
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
}

h2 {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nutrition-report-display {
    display: none;
}

.food-name,
.calorie-amount {
  color: red;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
}

.close,
.hide {
    color: #aaa;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover,
.hide:hover {
    color: #000;
}
.card-columns {
    display: flex; /* Ensures that the cards are displayed in a row */
    flex-wrap: wrap; /* Ensures that the cards wrap onto a new line */
    gap: 5px; /* Adds some space between the cards */
}

.card {
    flex-basis: calc(25% - 20px); /* Each card takes 25% of the container width minus the gap */
    box-sizing: border-box; /* Ensures padding/margin are included in the width calculation */
    text-align: center;
}
/* For medium screens (tablets, etc.): 2 cards per row */
@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); /* 2 cards per row */
    }
}

/* For small screens (mobile phones): 1 card per row */
@media (max-width: 576px) {
    .card {
        flex-basis: 100%; /* 1 card per row */
    }
}
.view-details {
    margin-top: 20px;
}
/* Form and Buttons */
form {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 15px;
}

#add-meal-button, .btn-info, .btn-danger {
    margin-top: 10px;
}

/* Meals List */
.list-group-item {
    padding: 15px;
    font-size: 16px;
}

/* Table styling */
.table {
    width: 100%;
    margin-top: 20px;
}

.table thead {
    background-color: #f8f9fa;
}

.table-secondary tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.badge-info {
    color: black;
}

/* Back to top button */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #0089ff; /* Add a background color on hover */
}

/*Footer*/
footer {
  width: 100%;
  padding-top: 50px;
  margin-top: 50px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #343a40;
  color: white;
  text-align: center;
}


.contacts {
  padding-left: 250px;
}
.contacts h1 {
  padding-top: 40px;
  line-height: 1.5;
}
.social-contacts a i {

  font-size: 45px;
}


/* Responsive CSS */

@media (max-width: 992px) {
  .custom-main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  h1,
  h3 {
    font-size: 30px;
    margin: 20px;
  }

  p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .align-right {
    justify-content: flex-start;
  }

  .contacts {
    padding: 0;
  }

  h1,
  h3 {
    font-size: 24px;
    margin: 20px;
  }

  p {
    font-size: 18px;
  }

  .our-products {
    margin: 50px;
    padding: 20px;
  }

  footer {
    padding: 10px;
    font-size: 12px;
  }

  .contacts h1 {
    font-size: 20px;
    line-height: 1.2;
  }

  .social-contacts a i {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 120px;
  }

  .contacts {
    padding-left: 20px;
  }

  .projects {
    margin: 50px;
  }

  .our-products {
    margin: 30px;
    padding: 15px;
    font-size: 20px;
  }

  .view-work-button {
    margin-top: 50px;
    font-size: 18px;
  }

  .custom-main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}